<?xml version="1.0"?>
<launch>
	<!-- Anomaly -->
	<node type="image_det_to_3d_stereo.py" name="imageAnomalyTo3D_Stereo" pkg="image_boundingbox_to_3d" respawn="true" output="screen">
		<!-- Name of algorithm topics are received  -->
		<param name="algorithmName" value="anomaly" />

		<!-- Topics  -->
		<param name="topicCamImage" value="/Multisense/left/image_rect_color" />
		<param name="topicCamInfo" value="/Multisense/left/image_rect_color/camera_info" />
		<param name="topicDepth" value="/Multisense/depth" />
		<param name="topicDetImageInSingleClass" value="/det/Multisense/deepanomaly/anomaly" />


		<!-- Visualization stuff  -->
		<param name="topicBBoxOut" value="/det/Multisense/deepanomaly/BBoxes3d" />
		<param name="visualizeBoundingboxes" value="True" /> <!-- False: topicVisualizeOut is NOT published, True: topicVisualizeOut is published  -->
		<param name="topicVisualizeOut" value="/det/Multisense/deepanomaly/bboxesImage" />
		<param name="targetFrame" value="base_link_mount" />

		<!-- Algorithm settings  -->
		<param name="config_file" value="$(find image_boundingbox_to_3d)/cfg/det2bb_anomaly.cfg" />
		<param name="estDistanceMethod" value="2" /> <!-- Select either 0: mean, 1: median, 2: 5%-percentile -->
		<param name="threshold" value="700" /> 
		<param name="expected_max_value" value="6500" /> <!-- Confidence is normalized to [0;1] from the range[threshold,expected_max_value]-->

		
	</node>
</launch>
