<?xml version="1.0"?>
<launch>
	<!-- Semantic Segmentation node  -->
	<node type="image_bbox_to_3d_stereo.py" name="imageBBoxTo3D_Stereo" pkg="image_boundingbox_to_3d" respawn="true" output="screen">
		<param name="topicCamImage" value="/Multisense/left/image_rect_color" />
		<param name="topicCamInfo" value="/Multisense/left/image_rect_color/camera_info" />
		<param name="topicDepth" value="/Multisense/depth" />
		<param name="topicBBoxIn" value="/det/Multisense/ped/BBoxes2d" />

		<param name="topicBBoxOut" value="/det/Multisense/ped/BBoxes3d" />
		<param name="visualizeBoundingboxes" value="False" /> <!-- Select either False: An image (topicVisualizeOut) is NOT published, True: An image (topicVisualizeOut) is published  -->
		<param name="topicVisualizeOut" value="/det/Multisense/ped/bboxesImage" />
		<param name="baseFrameId" value="velodyne" />

		<param name="estDistanceMethod" value="1" /> <!-- Select either 0: mean, 1: median, 2: 10%-percentile -->
		
	</node>
</launch>
